/* Landing defaults */

#landing-body {
    margin: auto;
    background-image: url('/assets/landing-bg.webp');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

.navbar-custom {
    background-color: whitesmoke;
    opacity: 75%;
    height: 70px;
    padding-right: -5px;
}

.logo {
    margin-left: 5px;
    opacity: 100%;
}

.navbar-custom .navbar-text {
    color: navy;
    opacity: 100%;
    margin-right: 10px;
    font-size: 20px;
}

a {
    color: navy;
}

a:hover {
    color: navy;
}

nav ul, footer ul {
    padding: 0px;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}

.container {
    width: 100%;
    min-height: calc(100vh - 220px);
}

footer {
    color: whitesmoke;
    background-color: navy;
    width: 100%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.footer-logo {
    margin-bottom: 10px;
}

/* Landing Page */

#msg {
    background-color: navy;
    color: white;
    opacity: 90%;
    width: 45%;
    height: 280px;
    margin-top: 100px;
    margin-left: 650px;
    padding: 40px;
}

.btn-gs {
    background-color: white;
    color: navy;
    margin-top: 20px;
}

/* Login Page */

.visible {
    display: inline-block;
}

.hidden {
    display: none;
}

.login {
    width: 450px;
    background-color: whitesmoke;
    opacity: 90%;
    text-align: center;
    border-radius: 15px;
    margin: 30px;
    margin-left: 650px;
}

.login-logo {
    padding-top: 40px;
}

.log-in-text {
    padding-top: 10px;
    color: navy;
    font-size: 24px;
}

.credentials {
    width: 100%;
    margin: 0 auto;
}

.userLogIn {
    width: 80%;
    padding: 6px 20px;
    display: inline-block;
    border: 2px solid navy;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 20px;
}

.btn-li {
    background-color: navy;
    color: white;
    margin-top: 20px;
    margin-bottom: 100px;
    display: inline-block;
}

.suLink {
    display: block;
    font-size: 18px;
    margin-bottom: 30px;
}

.switch-roles {
    color: red;
    margin: 5px;
}

.switch-roles:hover {
    color: red;
}

/* Shoppee Dashboard */

.visible-list {
    display: block;
}

.lists-dashboard {
    margin-bottom: 30px;
}

.card {
    margin-top: 30px;
    margin-bottom: 10px;
}

.active {
    background-color: navy;
}

.card-title-header {
    font-size: 36px;
    display: inline-block;
}

.card-text-header {
    margin-top: -5px;
    font-size: 16px;
}

.btn-cr {
    background-color: white;
    color: navy;
    border: 2px solid navy;
    display: block;
}

#shopping-list-input {
    background-color: whitesmoke;
    color: navy;
    padding: 30px;
    margin: 20px;
    border-radius: 5px;
}

.btn-sl {
    background-color: white;
    color: navy;
    border: 2px solid navy;
    border-radius: 5px;
    font-size: 14px;
}

.shopping-card {
    width: 350px;
    border: solid navy;
    border-radius: 5px;
    margin-right: 15px;
}

.in-progress {
    background-color: rgb(76, 219, 219);
}

.shopping-card-ip {
    border: solid rgb(76, 219, 219);
    margin-top: 5px;
    display: inline-block;
}

.finished {
    margin-top: 15px;
    background-color: lightblue;
}

.shopping-card-f {
    border: solid lightblue;
    margin-top: 5px;
    display: inline-block;
}

/* Shopper dashboard */

#map {
    width: 100%;
    height: 500px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: grey;
}